__pycache__/bake.cpython-314.pyc
__pycache__/generate_asset.cpython-314.pyc
__pycache__/generate_image.cpython-314.pyc
__pycache__/generate_sound.cpython-314.pyc
__pycache__/generate_speech.cpython-314.pyc
__pycache__/mesh_simplify_blender.cpython-314.pyc
__pycache__/mesh_simplify.cpython-314.pyc
.vscode/settings.json
